@font-face {
    font-family: "ITCAvantGardeStd-Bk";
    src: url('./assets/fonts/ITCAvantGardeStd-Bk.ttf') format('truetype');
}

@font-face {
    font-family: "ITCAvantGardeStd-Bold";
    src: url('./assets/fonts/ITCAvantGardeStd-Bold.ttf') format('truetype');
}

/* CUSTOM BOOTSTRAP UTILITIES */
.mt-10 {
    margin-top: ($spacer * .25) !important;
}

/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "ITCAvantGardeStd-Bk";
    background-color: #183244;
}

a {
    text-decoration: none;
}

li {
    list-style: none;   
}

/* NAVBAR STYLING */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    color: #fff;
}

.nav-links a {
    color: #000000;
}

.nav-links a:hover {
    color: #fff;
}

/* LOGO */
.logo img {
    height: 70px;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #183244;
    border-radius: 5px;
    transition: 0.3s ease;
    color:#fff;
}

.menu li {
    padding: 5px 14px;
}

/* MAIN BANNER */
.content {
    display: flex;
    align-items: center;
    padding: 100px;
    justify-content: center;
}

.slogan {
    color: #fff;
    font-size: 45px;
    padding: 100px;
}